body {
    margin: 0;
    overflow: hidden;
    background: #f2f2f2; /* very light grey */
    font-family: sans-serif;
  }
  
  #world {
    display: block;
    background: #dbdbdb; /* soft grey canvas */
  }
  